.chat-main
  .main-header
    .main-header__group
      %p.main-header__group__name
        = @group.name
      %ul.main-header__group__member
        Member：
        - @group.users.each do |user|
          = user.name
    .main-header__edit
      = link_to edit_group_path(@group.id), class: "edit_btn" do
        Edit
  
  .messages
    = render @messages
    
  .form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__message
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'